/* all pages */
body {
  background-color: rgb(243,240,255);
  color: rgb(0, 0, 0)

}

footer {
  margin: 20px;
  font-size: 12px;
  color: rgb(99, 83, 100);
  background-color:rgb(232, 220, 244);


}

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
    
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
  color:black;
}

.article-container {
  margin: auto;
  color:rgb(0, 0, 0);
}

.card {
  width:200px; 
  height: 700px; 
  margin-bottom: 20px;
  background-color:rgb(232, 220, 244);
}

.card-header {
  height: 5em;
  background-color:rgb(232, 220, 244);
}

.card-text {
  min-height:10em;
  background-color:rgb(232, 220, 244);
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:rgb(232, 220, 244);
}

.product img {
  margin: auto;
  margin-top: 20px;
}

.product > .card-header {
  height:3em;
  background-color:rgb(193, 150, 212);
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px;

}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
  background-color:rgb(232, 220, 244);
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

.bg-light {
background-color: red;

}

.navbar-custom {
  background-color:rgb(171, 116, 203) ;
}

.btn-custom:hover{
  background-color: rgba(87, 20, 131, 0.76);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.btn-custom{
  background-color: rgb(232, 220, 244);
  color:black;
  border-color: black;
}

#show_when_empty_basket{
  background-color: rgb(193, 150, 212);
  caret-color: rgb(193, 150, 212)
}