/* all pages */
body {
  background-color: rgb(228, 200, 253);
  color: rgb(0, 0, 0)

}

footer {
  margin: 10px;
  font-size: 12px;
  color: rgb(99, 83, 100);
  background-color:rgb(232, 220, 244);
  padding-left: 3px;
  padding-bottom: 3px;
  
}


.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
    
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
  color:black;
}

.article-container {
  margin: auto;
  color:rgb(0, 0, 0);
}

.card {
  width:200px; 
  height: 500px; 
  margin-bottom: 20px;
  background-color:rgb(232, 220, 244);
  border-color: #50008588;
  border-style: inset;
  border-width: 5px;
}

.card-header {
  height: 3.5em;
  background-color:rgb(232, 220, 244);
  text-align: center;
}

.card-text {
  min-height:3em;
  background-color:rgb(232, 220, 244);
  text-align: center;
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
  background-color:rgb(232, 220, 244);
  text-align: center;
}

.product img {
  margin: auto;
  margin-top: 20px;
}

.product > .card-header {
  height:3em;
  background-color:rgb(193, 150, 212);
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px;

}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
  background-color:rgb(235, 214, 255);
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

.bg-light {
background-color: red;

}

.navbar-custom {
  background-color:rgb(171, 116, 203) ;
  text-align:center ;
  border-color: #50008588;
  border-style: inset;
  border-width: 2.5px;
  margin-bottom: 20px;
}


.btn-custom:hover{
  background-color: rgba(87, 20, 131, 0.76);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.btn-custom{
  background-color: rgb(232, 220, 244);
  color:black;
  border-color: black;
}

.btn-custom:active{
  background-color: rgba(87, 20, 131, 0.678) !important;
  border-color: white !important;
  box-shadow: none;
}

.alert-custom{
  background-color: rgb(193, 150, 212);
  border-color: black;
  color:white;
}

.text-centered{
  text-align: center;
}

.toast{
  z-index:6;
}

::-webkit-scrollbar{
  width: 11px;
  height: 11px;
  }
  ::-webkit-scrollbar-thumb{
  background: radial-gradient(circle, #E8D4F7 0%,#500085 100%);
  border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover{
  background: #bdaebd;
  }
 
  a:active{
   color: rgba(87, 20, 131, 0.678) !important
  }

  a:hover{
  color:rgb(114, 192, 245)  
  }